<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snapify – Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth_service/css/base.css' %}">
</head>
<body>
    <div class="auth-box">
        <h1>Sign up for Snapify</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="error">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.password1.label_tag }}
            {{ form.password1 }}

            {{ form.password2.label_tag }}
            {{ form.password2 }}

            <button type="submit">Register</button>
        </form>

        <div class="link">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</body>
</html>
